__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
*.egg-info/

*.sqlite3
/static/
/media/

.env
.env.local
.env.production

postgres_data/

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

.pytest_cache/
htmlcov/
.coverage

node_modules/
dist/